/* 
#DADBCB
#A1B099
#84745B
#DCC69D
#F8F4E9
*/
* {
  position: static !important;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;

}

body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;

}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  display: block;
  z-index: -100;
  position: relative;
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: #add64c;
  margin: 0px 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #92ad47b0,
    0 0 50px #b8df4c,
    0 0 100px #97d448;
  animation: animate 20s linear infinite;
  animation-duration: calc(150s / var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(120vh) scale(0.25);
  }

  100% {
    transform: translateY(-120vh) scale(1);
  }
}


.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: #5fcf85 3px solid;
  border-radius: 3%;
}



.main-container {
  /* margin-left: 5vw;
  margin-bottom: 5vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
}



/* searchingbar */

.search-input {
  margin: 7px;

}

.quicksearch {
  border-radius: 5px;
  width: 60vw;
  height: 4vh;
  font-size: 25px;
  background-color: #dabc6feb;
}

.main-title {
  background-color: darkgreen;
  color: white;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}






/* ---- isotope ---- */

.grid {
  border: 1px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 70vh !important;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.fungus-item {

  width: 44vw;
  height: 23vh;
  border-radius: 5%;
  border: solid 5px darkgreen;
  display: flex;
  flex-direction: column;
  margin: 3px;
  background-color: darkgreen;


}

/* for pc user & mobile version: turn the image blue */
.fungus-item:hover {
  cursor: pointer;
}



.name {
  padding: 0 5px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: normal;
  color: white;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fungus-img {
  height: 85%;
  border-radius: 3px;
  /* /* width: 190px;/ */

}



.shortDescriptionContainer {
  /* display:block; */
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 90vh;
  background-color: darkgreen;
  opacity: 1;
  z-index: 1;
}

.shortDescriptionDiv {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 78, 46);
  flex-direction: row-reverse;
}

.closeShortDescriptionDiv {
  position: absolute !important;
  font-size: 45px;
    color: blanchedalmond;
}


.closeShortDescriptionDiv:hover {
  cursor: pointer;
  /* background-color: red; */
  background-color: rgb(152, 189, 84);
}


.sd_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
      margin-top: 25px;
}

.sd_fungusImage {
  width: 75vw;
  height: 75vw;
  background-size: cover;
  margin-bottom: 2vh;
  border-radius: 3%;
}

.quicksearch {
  background-color: #94ffb8;
}

.page-header {
  padding: 2vh;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: darkgreen;
  width: 100%;
  display: flex;

}

.sd_container {

  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 1vh;
  align-items: center;
  align-self: flex-start;
  color: white;
  padding-left: 8vw;
}

.sd-a {
  background: white;
  width: 100px;
  text-align: center;
  padding: 10px;
  border: solid 5px darkgreen;
  font-size: 16px;
  box-shadow: 10px 5px 5px black;
}